body {
  padding-top: 20px;
  padding-bottom: 60px;
  background: url(../img/p1.png) left top repeat ;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 960px;
}
.container > hr {
  margin: 60px 0;
}

.product-banner {
  margin-bottom: 18px;
  -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.8);
  box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.8);
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}