body {
  background: url(../img/ticks.png) left top repeat ;
}

#nav {
  margin: 10px 0;
  font-weight: bolder;
}

/* Custom container */
.container {
  margin: 0 auto 10px auto;
  padding-top: 15px;
  max-width: 970px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
  box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);
}

.dealer-logo {
  margin: 10px 0px 20px 0px;
}

.product-banner {
  margin-bottom: 18px;
  -webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.5);
  box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.5);
}

.img-polaroid {
  margin: 18px;
}

.lb-image{
  max-width: inherit;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
