<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/murano.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <a href="/"><img src="/img/murano_logo_black.gif"></a>

        <ul class="nav nav-pills pull-right">
          <li {% if page.active_tag == 'wocol' %}class="active"{% endif %}><a href="/wocol/">WoCol</a></li>
          <li {% if page.active_tag == 'pisen' %}class="active"{% endif %}><a href="/pisen/">PiSen</a></li>
          <li {% if page.active_tag == 'mazer' %}class="active"{% endif %}><a href="/mazer/">MAZER</a></li>
          <li {% if page.active_tag == 'about' %}class="active"{% endif %}><a href="/about/">About</a></li>
          <li {% if page.active_tag == 'events' %}class="active"{% endif %}><a href="/events/">Events</a></li>
        </ul>
      </div>
      <br><br>

      {{ content }}

      <br><br>
      <div class="footer">
        <p>&copy; MURANO PTE LTD 2013</p>
      </div>

    </div> <!-- /container -->

    <script src="/js/jquery-2.0.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
